# будут игнорироваться все файлы и каталоги Thumbs.db
# вне зависимости от того, в каком каталоге они находятся
Thumbs.db

# будут игнорироваться каталог tmp
# независимо от того, в каком каталоге он находится
# слэш в конце указывает, что это каталог
tmp/

# будут игнорироваться относительно файла .gitignore
# чаще всего относительно всего проекта
/tmp/

# будут игнорироваться все файлы заканчивающиеся суффиксом _old
# независимо от того, в каком каталоге они находятся
*_old

# будут игнорироваться все файлы заканчивающиеся суффиксом _backup 
# независимо от того, в каком каталоге они находятся
*_backup

# будут игнорироваться все файлы и каталоги с расширением .DS_Store 
# независимо от того, в каком каталоге они находятся
*.DS_Store
